#chat-bot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index:9999;
  height: auto;
  float: right;
}
#chat-bot .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  background: linear-gradient(135deg, #f55a60 0%, #f55a60 100%);
  width: 70px;
  height: 70px;
  float: right;
  border-radius: 10px;
  padding: 10px 15px;
  transition: 0.3s all;
  box-shadow: 0 30px 50px #0000000d;
  overflow: hidden;
}
#chat-bot .icon:hover {
  box-shadow: 0 5px 20px rgb(209 231 221);
}
#chat-bot .icon .user {
  visibility: hidden;
  /*margin-left: -46px;*/
  display: none;
}
#chat-bot .fas.fa-comments{
font-size: 30px;
}
#chat-bot.expanded .icon {
  width: 270px;
  justify-content: space-between;
}
#chat-bot.expanded .messenger {
  visibility: visible;
  height: 389px;
  width: 270px;
  transition: 2s;
}
#chat-bot.expanded .icon .user {
  visibility: visible;
  /*margin-left: 0;*/
  transition: 0.5s;
  display: block;
}

#chat-bot .messenger {
  background-color: #fff;
  border: 1px solid #0f513238;
  box-shadow: 0 3px 12px 0px #f55a6070;
  padding: 10px;
  margin-bottom: 10px;
  height: 390px;
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.7s;
  width: 0;
  height: 0;
  visibility: hidden;
}
#chat-bot .chatroom {
  height: 270px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  touch-action: pan-y;
  position: relative;
}
#chat-bot .chatroom::-webkit-scrollbar {
  display: none;
}
#chat-bot .type-area input.typing {
  width: 100%;
  outline: none !important;
  border: 1px solid rgb(227 230 234);
  border-radius: 5px;
  padding: 8px 40px 8px 14px;
  height: 40px;
  font-size: 12px;
}
#chat-bot .type-area {
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 12px rgb(0 0 0 / 3%);
  margin-top: 10px;
}
#chat-bot .type-area span.send {
  position: absolute;
  right: 14px;
  top: 9px;
  cursor: pointer;
  font-size: 18px;
}
#chat-bot .msg {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #7c8089;
}
#chat-bot .msg .bubble {
  padding: 10px;
  border-radius: 5px;
  background-color: #f55a6059;
  color: #232121;
  position: relative;
  box-shadow: 2px 2px 10px 0px rgb(97 97 97 / 50%);
}


#chat-bot .msg.msg-right .bubble {
  color: rgb(15 81 50);
  background-color: rgb(209 231 221);
}
#chat-bot .msg .bubble .name {
  color: #393d4a;
  font-size: 12px;
  font-weight: 500;
}
.msg.msg-left {
  align-items: flex-start;
}
.msg.msg-right {
  align-items: flex-end;
}
#chat-bot .timestamp {
  font-size: 12px;
  color: #7c8089;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
}

.logintochat{
    height: 100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    font-family: 'open sans';
}
.logintochat i {
    color: var(--theme-color);
    width: 90px;
    height: 90px;
    line-height: 90px;
    border: 2px solid var(--theme-color);
    border-radius: 50%;
}
.logintochat a{
    color: var(--theme-color);
}

.starttochat{
    height: 100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    font-family: 'open sans';
}
.starttochat i {
    color: var(--theme-color);
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size : 50px;
}
.starttochat a{
    color: var(--theme-color);
}
.btn.btn-default{
  background: var(--default-color);
  color: white;
}

.client.typing{
  background: #fff;
}
.chat-close{
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    text-align: center;
}

@media screen and ( max-width:991px){
  #chat-bot {
    bottom: 90px;
    right: 0px;
  }
  #chat-bot .icon {
    width: 35px;
    height: 35px;
    border-radius: 5px;
  }
  #chat-bot .fas.fa-comments{
   font-size: 20px;
  }
}