.chefreg-asw .chefregbenefits .benefit-box2 .text::before {
  content: "";
  width: 50%;
  height: 100%;
  float: left;
  shape-outside: polygon(0 0, 98% 0,50% 6%,23.4% 17.3%,6% 32.6%,0 50%,6% 65.6%,23.4% 82.7%,50% 94%,98% 100%,0 100%);
  shape-margin: 0%;
}

.chefreg-asw .chefregbenefits .benefit-box2 .text .text-in::before {
  content: "";
  width: 50%;
  height: 100%;
  float: right;
  shape-outside: polygon(2% 0%,100% 0%, 100% 100%,2% 100%,50% 94%,76.6% 82.7%,94% 65.6%,100% 50%,94% 32.6%,76.6% 17.3%,50% 6%);
  shape-margin: 0%;
}